:root {
	--base-text-color: #ffffff;
	--secondary-color: #E9E9E9;
	--base-title: #E9E9E9;
}


body {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Header  */

.container {
	width: 1360px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	padding: 0 28px 0 28px;
}

.page-header {
	background: black;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-link {
	font-size: 35px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--base-text-color);
}

.link-color {
	color: #28a745;
}
.nav-list {
	display: flex;
	gap: 40px;
	font-size: 18px;
	line-height: 1.55;
}
.list-item {
}

.list-item > a {
	text-decoration: none;
	font-size: 35px;
	line-height: 1.2;
	color: var(--base-text-color);
}
/* hero section*/
.hero {
	background-color: brown;
	padding: 287px 0;
	text-align: center;
}

.hero-title {
	font-weight: 300;
	font-size: 55px;
	line-height: 1.2;
	color: var(--base-title);
}

.hero-description {
	font-size: 22px;
	line-height: 1,67;
	color: var(--secondary-color);
	margin-top: 24px;
}

.btn {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: var(--base-text-color);
	margin-top: 32px;
	padding: 10px 28px;
	background: #28A745;
	border-radius: 5px;
	border-color: #28A745;
	min-width: 168px;
}

/* ----Team---- */
.team {
	background-color: rgb(161, 211, 44);

}
.container {
}
.team-container {
	display: flex;
	justify-content: center;
	padding: 0 28px 0 28px;
}
.img {
	display: block;
	width: 50%;
}
.team-subtitle {
	font-size: 20px;
	line-height: 1.65;
	color: var(--base-text-color);	
}
.title {
	font-weight: 300;
	font-size: 38px;
	line-height: 1.26;
	color: var(--base-text-color);
	margin-top: 8px;
}

.text {
	font-size: 18px;
	line-height: 1.56;
	color: var(--base-text-color);
	margin-top: 24px;
}
.team-btn {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: var(--base-text-color);
	margin-top: 24px;
	padding: 10px 34px;
	background: #28A745;
	border-radius: 5px;
	border: 1px solid var(--base-text-color);
	min-width: 168px;
}

.team-wraper {
	background-color: #28A745;
	padding: 80px 64px 80px 20px;
	width: 50%;
}	
