:root {
	/* color text */
	--base-text-color: #ffffff;
	--secondary-text-color: #e9e9e9;
	--third-text-color: #333333;
	/* color text*/
	--base-title-subtitle-color: #e9e9e9;
	--secondary-title-subtitle-color: #333333;
	/* background or border color*/
	--base-green-background-color: #28a745;
}

/* body {
	font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 1360px;
	margin-left: auto;
	margin-right: auto;
} */

/* foto full */

/* .team-card-img {
	display: block;
	max-width: 100%;
	height: auto;
} */

/* --------------------- HEADER  --------------  */
/* .header-container {
	padding: 0 28px 0 28px;
}
.page-header {
	position: absolute;
	width: 100%;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-link {
	font-size: 35px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--base-text-color);
}
.link-color {
	color: #28a745;
}
.nav-list {
	display: flex;
	gap: 40px;
	font-size: 18px;
	line-height: 1.55;
}
.list-item {
}
.list-item > a {
	text-decoration: none;
	font-size: 35px;
	line-height: 1.2;
	color: var(--base-text-color);
} */
/* ---------------------- HERO SECTION ------------------- */
/* .hero {
	background-color: rgba(0, 0, 0, 0.8);
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../image/bg-im.png);
	height: 100%;
	width: 1360px;
	margin: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-container {
	padding: 287px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
} */
/* .hero-title {
	font-weight: 300;
	font-size: 55px;
	line-height: 1.2;
	color: var(--base-title-subtitle-color);
}
.hero-description {
	font-size: 22px;
	line-height: 1, 67;
	color: var(--secondary-text-color);
	margin-top: 24px;
}
.hero-btn {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: var(--base-text-color);
	margin-top: 32px;
	padding: 10px 28px;
	background: var(--base-green-background-color);
	border-radius: 5px;
	border-color: var(--base-green-background-color);
	min-width: 168px;
} */
/* hover and focus effect button*/
/* .hero-btn:hover,
.hero-btn:focus {
	cursor: pointer;
	border: 1px solid var(--base-text-color);
	border-radius: 5px;
} */
/* --------------------- SOLUTIONS SECTION --------------------- */
/* .solutions {
}
.solutions-container {
	display: flex;
	justify-content: center;
}
.solutions-img {
	display: block;
	width: 50%;
}
.solutions-subtitle {
	font-size: 20px;
	line-height: 1.65;
	color: var(--base-text-color);
}
.solutions-title {
	font-weight: 300;
	font-size: 38px;
	line-height: 1.26;
	color: var(--base-text-color);
	margin-top: 8px;
}
.solutions-text {
	font-size: 18px;
	line-height: 1.56;
	color: var(--base-text-color);
	margin-top: 24px;
}
.solutions-btn {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: var(--base-text-color);
	margin-top: 24px;
	padding: 10px 34px;
	background: var(--base-green-background-color);
	border-radius: 5px;
	border: 1px solid var(--base-text-color);
	min-width: 168px;
}


.solutions-btn:hover,
.solutions-btn:focus {
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: var(--base-green-background-color);
}

.solutions-wrapper {
	background-color: var(--base-green-background-color);
	padding: 80px 64px 80px 20px;
	width: 50%;
} */

/* ---------------BUSINESS CASES SECTION------------- */

/*  Пустые классы должны быть закоментированы */
/* 

.business-container {
	padding: 80px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.business-wrapper {
}
.dusiness-subtitle {
	font-size: 20px;
	line-height: 1.65;
	text-align: center;
	color: var(--secondary-title-subtitle-color);
}
.dusiness-title {
	font-weight: 300;
	font-size: 38px;
	line-height: 1, 26;
	text-align: center;
	color: var(--secondary-title-subtitle-color);
	margin-top: 24;
}
.dusiness-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: var(--third-text-color);
	margin-top: 24px;
}
.dusiness-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
	row-gap: 24px;
	column-gap: 21px;
}

.dusiness-item {
	display: flex;
	flex-basis: calc((100% - 42) / 3);
} */

/* -------------------- BLOG POST ------------------- */
/* 
.post-page {
	color: #ffffff;
}
.post-page-container {
	display: flex;
}

.post-wrapper {
	background-color: #0284d0;
	padding: 80px 56px 80px 28px;
}
.post-subtitle {
	font-size: 20px;
	line-height: 1.65;

	color: #ffffff;
}
.post-title {
	margin-top: 9px;

	font-weight: 300;
	font-size: 38px;
	line-height: 1.26;
}
.post-text {
	margin-top: 23px;

	font-size: 18px;
	line-height: 1.56;
}
.post-button {
	min-width: 196px;
	margin-top: 24px;

	background-color: #0284d0;
	border-radius: 5px;
	border: 1px solid var(--base-text-color);
}
.post-link {
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.55;
	color: #ffffff;
	padding: 10px 36px 11px 37px;
}
.post-img {
	display: block;
}

.post-button:hover,
.post-button:focus {
	background-color: #ffffff;
	color: #0284d0;
}

.post-link:hover,
.post-link:focus {
	color: inherit;
} */

/* ------------------- TEAM SECTION ----------------- */
.team {
	background: #e5e5e5;
}
.team-container {
	outline: 2px solid tomato;
	padding: 80px 24px;
	text-align: center;
}
.team-subtitle {
	font-size: 20px;
	line-height: 1.65;
	text-align: center;
	color: var(--secondary-title-subtitle-color);
}
.team-title {
	font-weight: 300;
	font-size: 38px;
	line-height: 1.26;
	text-align: center;
	color: var(--secondary-title-subtitle-color);
	margin-top: 24px;
}
.team-description {
	margin-top: 24px;
}
.team-list {
	display: flex;
	margin-top: 24px;
	gap: 23px;
	flex-wrap: wrap;
}
.team-card-title {
	margin-top: 20px;
}
.team-card-text {
	margin-top: 12px;
}
/* ---------------- CALLBACK SECTION ----------------- */
.callback {
	background: #f4f4f4;
}
.callback-container {
	display: flex;
	outline: 2px solid tomato;
}
.callback-content {
	padding: 80px 28px 80px 20px;
	border-radius: 0px;
}
.callback-title {
	font-weight: 300;
	font-size: 38px;
	line-height: 1, 26px;
	color: var(--secondary-title-subtitle-color);
}
.callback-name {
	display: flex;
	align-items: flex-end;
	height: 40px;
	min-width: 620px;
	background: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 0px;
	margin-top: 32px;
	font-size: 18px;
	line-height: 1.56;
	color: #808080;
}
.callback-email {
	display: flex;
	align-items: flex-end;
	height: 40px;
	min-width: 620px;
	background: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 0px;
	margin-top: 32px;
	font-size: 18px;
	line-height: 1.56;
	color: #808080;
}
.callback-btn {
	color: var(--base-text-color);
	min-width: 642px;
	background: var(--base-green-background-color);
	border: 1px solid var(--base-green-background-color);
	border-radius: 5px;
	padding: 8px 295px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	margin-top: 60px;
}
.callback-btn:hover,
.callback-btn:focus {
	cursor: pointer;
	border: 1px solid var(--third-text-color);
	border-radius: 5px;
	color: var(--third-text-color);
}

/* --------------------- FOOTER ---------------------- */
.footer {
	background: #333333;
}
.footer-container {
	padding: 60px 537px 20px 537px;
}
.footer-text {
	font-size: 18px;
	line-height: 1.56;
	text-align: center;
	color: #ffffff;
}
