<!------------------------- BLOG POST ------------------------>
<section class="post-page">
  <div class="container">
    <div class="post-page-container">
      <div class="post-wrapper">
        <p class="post-subtitle">April 16 2020</p>
        <h2 class="post-title">Blog Post One</h2>
        <p class="post-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <button class="post-button" type="button" href="#">
          <a class="post-link" href="">Read our Block</a>
        </button>
      </div>
      <img class="post-img" src="./image/blockpost.jpg" alt="post" />
    </div>
  </div>
</section>
<!--------------------------- /BLOG POST ---------------------->
