<!-- ----------------- BUSINESS CASES SECTION ------------------>
			<section class="business">
				<div class="container business-container">
					<div class="business-wrapper">
						<p class="dusiness-subtitle">This is what we do</p>
						<h2 class="dusiness-title">Business Cases</h2>
						<p class="dusiness-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
					</div>
					<ul class="dusiness-list">
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC1.jpg" alt="BisCase1" /></li>
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC2.jpg" alt="BisCase2" /></li>
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC3.jpg" alt="BisCase3" /></li>
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC4.jpg" alt="BisCase4" /></li>
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC5.jpg" alt="BisCase5" /></li>
						<li class="dusiness-item"><img class="team-card-img" src="./image/BC6.jpg" alt="BisCase6" /></li>
					</ul>
				</div>
			</section>
			<!------------------- /BUSINESS CASES SECTION ---------------- -->