.header-container {
	padding: 0 28px 0 28px;
}
.page-header {
	position: absolute;
	width: 100%;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-link {
	font-size: 35px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--base-text-color);
}
.link-color {
	color: #28a745;
}
.nav-list {
	display: flex;
	gap: 40px;
	font-size: 18px;
	line-height: 1.55;
}
.list-item > a {
	text-decoration: none;
	font-size: 35px;
	line-height: 1.2;
	color: var(--base-text-color);
}