:root {
  /* color text */
	--base-text-color: #ffffff;
	--secondary-text-color: #e9e9e9;
	--third-text-color: #333333;
	/* color text*/
  --base-title-subtitle-color: #e9e9e9;
  --secondary-title-subtitle-color: #333333;
  /* background or border color*/
  --base-green-background-color: #28a745;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.team-card-img {
  display: block;
  max-width: 100%;
  height: auto;
}
